{% extends "base.html" %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
    <h2>Lista de Productos</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.categoria.categoria }}</td>
                <td>{{ producto.precio.precio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

